.game-board {
    @include media-breakpoint-up(md) {
        @include row-cols(10);
    }
    &__button{
        min-width: 55px;
        margin: 2px;
    }
    &__cell{
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__turn-info{
        width: 100%;
        text-align: center;
    }
}
.page-main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 2px 0px 2px 0px;
    &__container{
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
}
.joining-form{
    margin-bottom: 3px;
}
.game-lobby{
    display: flex;
    flex-direction: column;
    &__button{
        margin: 5px;
    }
}